ADMIN_PASSWORD=
ASSET_HOST=static.prati.ba
AWS_S3_BUCKET=static.prati.ba
AWS_S3_ID=
AWS_S3_SECRET=
DATABASE_URL=postgres://username:password@postgres/prati_ba
HOST=www.prati.ba
MAXMIND_LICENSE_KEY=
PORT_HTTP=4001
PORT_HTTPS=4000
SECRET_KEY_BASE=
