<!DOCTYPE html>
<html lang="en" style="scrollbar-gutter: stable;">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title>
      <%= assigns[:page_title] || "Prati.ba" %>
    </.live_title>
    <link
      rel="stylesheet"
      href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic"
    />
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
    <script defer data-domain={PratiBaWeb.Endpoint.host()} src="https://plausible.io/js/script.js">
    </script>
    <%= if assigns[:analytics_token] do %>
      <script type="text/javascript">
        window.analyticsToken = "<%= assigns[:analytics_token] %>";
      </script>
    <% end %>
  </head>
  <body class="relative dark:bg-[#212936] font-inter">
    <%= @inner_content %>
  </body>
</html>
