ADMIN_PASSWORD=
ASSET_HOST=static.prati.ba
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/prati_ba_prod
DO_SPACES_BUCKET=static.prati.ba
DO_SPACES_ID=AKIB2GHLQBL82IVL1B4N
DO_SPACES_SECRET=1qyPY8F93ZW4B2gHy1eR/U9BL2zqb3c0LB3CV4hV
ERLANG_COOKIE=
HOST=prati.ba
MAXMIND_LICENSE_KEY=
SECRET_KEY_BASE=
