body {
  background-color: var(--bg-color);
  font-family: lato, sans-serif;
  font-style: normal;
  font-feature-settings: 'kern' off;
}

main {
  margin-top: 10px;
}

.header-link {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  height: 32px;
  padding: 8px 16px;

  .logo {
    display: flex;
    background-image: url('/images/logo.png');
    width: 32px;
    height: 32px;
  }

  .heading {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 5px;
    text-transform: uppercase;

    .title {
      display: flex;
      font-weight: 800;
      font-size: 14px;
      line-height: 14px;
      letter-spacing: 1.44px;
      color: var(--header-title-color);
    }

    .subtitle {
      display: flex;
      font-weight: 600;
      font-size: 12px;
      line-height: 12px;
      letter-spacing: 1.44px;
      color: var(--header-subtitle-color);
    }
  }
}

@media (prefers-color-scheme: dark) {
  .header-link {
    .logo {
      background-image: url('/images/logo-inverted.png');
    }
  }
}
