<div class="w-full h-full absolute">
  <ArticleComponent.navbar socket={@socket} />
  <%= if @new_articles do %>
    <ArticleComponent.new_articles_indicator />
  <% end %>
  <section class="w-full flex justify-center items-center">
    <div class="block" id="article_head" phx-update={@update}>
      <%= for article <- @articles do %>
        <ArticleComponent.article article={article} socket={@socket} />
      <% end %>
    </div>
  </section>
  <div id="scroll" phx-hook="ScrollDownHook" class="w-full dark:bg-[#212936] bg-white sticky flex items-center justify-center sm:bottom-0 bottom-0 cursor-pointer">
    <img src={Routes.static_path(@socket, "/images/icons/down.svg")}>
  </div>
  <div id="footer" phx-hook="InfiniteScrollHook" class="w-full">
  </div>
</div>
