<div class="w-full h-full absolute">
  <ArticleComponent.navbar socket={@socket} />

  <section class="w-full flex justify-center items-center" id="article_head" phx-update="append">
    <div class="block">
      <%= for article <- @articles do %>
        <ArticleComponent.article article={article} socket={@socket} />
      <% end %>
    </div>
  </section>
</div>
<div id="footer" phx-hook="InfiniteScrollHook">
</div>
