<div class="w-full h-full absolute">
  <ArticleComponent.navbar socket={@socket} />
  <%= if @new_articles do %>
    <ArticleComponent.new_articles_indicator />
  <% end %>
  <section class="w-full flex justify-center items-center">
    <div
      id="article_list"
      class="w-fit md:w-10/12 xl:w-[910px] mx-auto block px-3 mt-5"
      phx-update="stream"
    >
      <div :for={{article_id, article} <- @streams.articles} id={article_id}>
        <ArticleComponent.article article={article} socket={@socket} />
      </div>
    </div>
  </section>
  <div
    id="scroll"
    phx-hook="ScrollDownHook"
    class="w-full dark:bg-[#212936] bg-white sticky flex items-center justify-center bottom-0 cursor-pointer"
  >
    <img src={~p"/images/icons/down.svg"} class="my-1 md:my-0 w-6 md:w-8" />
  </div>
  <div id="footer" phx-hook="InfiniteScrollHook" class="w-full"></div>
  <ArticleComponent.scroll_to_top />
</div>
