.article {
  display: flex;
  margin: 3rem 0;
}

.article-details {
  display: flex;
  margin-left: 2rem;
  flex-direction: column;
  justify-content: space-between;
  width: 40rem;
}

.article-title {
  font-size: 1.6rem;
}

.article-info {
  font-size: 1.2rem;
  color: gray;
}
