body {
  background-color: var(--bg-color);
}

nav {
  background: var(--nav-color);
  border-bottom: .1rem solid var(--border-color);
  display: block;
  height: 5.2rem;
  left: 0;
  max-width: 100%;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

nav .title {
  color: rgb(0, 148, 255);
  font-family: Gotham Rounded A,Gotham Rounded B,Helvetica Neue,Arial,sans-serif;
  position: relative;
  display: inline;
  font-size: 1.6rem;
  line-height: 5.2rem;
  padding: 0;
  text-decoration: none;
}

main.container {
  padding-top: 5rem;
}
