body {
  background-color: #fcfcfc;
  padding-top: 54px;
  padding-bottom: 130px;
  font-family: lato, sans-serif;
  font-style: normal;
  font-feature-settings: 'kern' off;
}

.container {
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

header {
  a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    height: 32px;

    .logo {
      width: 32px;
      height: 32px;
    }

    .heading {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 5px;
      text-transform: uppercase;

      .title {
        font-weight: 800;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 1.44px;
        color: #000000;
      }

      .subtitle {
        font-weight: 600;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 1.44px;
        color: #48484A;
      }
    }
  }
}

main {
  margin-top: 52px;
}
