<!DOCTYPE html>
<html lang="bs">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Prati.ba" %>
    <link rel="stylesheet" href="https://use.typekit.net/rij3dtb.css">
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_url(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_url(@conn, "/js/app.js") %>"></script>
    <%= if assigns[:analytics_token] do %>
    <script type="text/javascript">
      window.analyticsToken = "<%= assigns[:analytics_token] %>";
    </script>
    <% end %>
  </head>
  <body>
    <header class="container">
      <%= link to: Routes.article_index_path(@conn, :index) do %>
        <div class="logo"></div>

        <span class="heading">
          <span class="title">Prati</span>
          <span class="subtitle">Vaš news agregator</span>
        </span>
      <% end %>
    </header>

    <%= @inner_content %>
  </body>
</html>
