<section class="articles">
<%= for article <- @articles do %>
  <article>
    <%= link to: Routes.article_path(@conn, :show, article), class: "article", target: "_blank", rel: "noopener" do %>
      <div class="article-image">
        <%= article_image_tag(article) %>
      </div>

      <div class="article-details">
        <div class="article-title"><%= article.title %></div>

        <div class="article-info">
          <span class="article-source"><%= article.source.name %></span>
          |
          <%= published_date(article) %>
          <time class="article-published" datetime="<%= DateTime.from_naive!(article.published_at, "Etc/UTC") %>"></time>
        </div>
      </div>
    <% end %>
  </article>
<% end %>
</section>
